* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  background: linear-gradient(#6464bc, #0f0650);
  padding: 20px;
}

/* form component  */
form {
  max-width: 700px;
  width: 100%;
  margin: 20px auto 0 auto;
  background-color: transparent;
  padding: 20px;
  border-radius: 20px;
  border: 3px solid white;
  color: white;
  font-size: 1.1rem;
}

/* job section  */
#job {
  padding: 6px 10px;
}


/* personal data section  */
#personal-data {
  margin: 20px 0 20px 0;
  display: grid;
  gap: 0 20px;
  grid-template-areas:
      "first-name last-name"
      "age gender"
      "email country"
      "bio bio"
      "submit submit";
}

/* grid area naming  */
.first-name-group {
  grid-area: first-name;
}

.last-name-group {
  grid-area: last-name;
}

.age-group {
  grid-area: age;
}

.gender-group {
  grid-area: gender;
}

.email-group {
  grid-area: email;
}

.country-group {
  grid-area: country;
}

.bio-group {
  grid-area: bio;
}

/* all input feild stylig  */
input[type="text"],
input[type="age"],
input[type="email"],
input[type="date"] {
  max-width: 250px;
  padding: 10px 7px;
  border-radius: 5px;
  border: 1px solid #444;
  width: 250px;
}

input:focus-visible {
  outline: 1px solid #fcfcfc;
}

input::placeholder,
textarea::placeholder {
  font-size: 1rem;
}

/* add margin to every input group  */
.input-group {
  margin-bottom: 20px;
}

#country {
  width: 150px;
  padding: 7px;
}

.gender {
  display: flex;
  align-items: center;
  width: 250px;
}

.gender>label {
  margin: 0 10px 0 3px;
}

textarea {
  border: 1px solid #444;
  border-radius: 5px;
  padding: 5px 7px;
  width: 100%;
  min-height: 100px;
}

textarea:focus-visible {
  outline: 1px solid #fcfcfc;
}

/* margin bottom for all label  */
label {
  margin-bottom: 10px;
  display: block;
}

/* job application label  */
.job-application {
  display: inline-block;
  margin-right: 20px;
}

/* button styling */
.submit-group {
  grid-area: submit;
  text-align: center;
}

#submit-btn {
  padding: 7px 12px;
  font-size: 1rem;
  border: none;
  color: white;
  background-color: #00af54;
  border-radius: 10px;
  transition: 1s ease-out;
}

#submit-btn:hover {
  background-color: #006631;
}

/* when device width is 615px or less  */
@media(max-width: 615px) {
  * {
      font-size: 1rem;
  }

  input {
      padding: 5px 6px;
  }

  #country {
      padding: 5px 6px;
  }
}

/* when device width is 585 or less  */
@media(max-width: 585px) {
  #personal-data {
      grid-template-areas:
          "first-name first-name"
          "last-name last-name"
          "age age"
          "gender gender"
          "email email"
          "country country"
          "bio bio"
          "submit submit";
  }

  #job {
      margin-top: 5px;
  }
}